.shoppingList {
  margin: 20px;
  min-height: 300px;
}

.formContainer {

}

.title {
  font-size: 2.5em;
  color: #1a9cd0;
}

.input {
  border: 1px solid grey;
  margin: 5px;
}

.listContainer {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 1fr;
}
.list {
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}

.listItem {
  
}
